/*Class Values*/
.App {
    text-align: left;
}
  
.App-header {
    background-color: #3A3B3C;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    color: white;
}

.main-flex {
    display: flex;
}

.snowstorm {
    font-family: 'snowstorm', sans-serif;
}

.tabs span {
    font-family: 'snowstorm', sans-serif;
    padding: 5%;
    align-items: center;
}

.zeronia-logo {
    position: relative;
    height: 10vmin;
    padding-left: 1%;
    padding-top: 1.5%;
    /*Have this route back to the home page*/
    pointer-events: none;
    display: flex;
    align-items: center;
}

/*ID values*/
#logo-picture {
    flex: 0 0 auto;
    margin-right: 20px;
    size: 100%;
}

#logo-text {
    display: flex;
    align-items: center;
    font-size: 500%;
}

/*Rules*/
@font-face {
    font-family: 'snowstorm';
    src: url('fonts/snowstorm.otf') format('opentype');
}