/* Element */
label:hover {
    z-index: 0;
    font-size: scale(1.2);
}

/* Class Values */
.app {
    font-family: 'snowstorm', sans-serif;
    height: 3000px;
}

.back-pic {
    width: calc(100% / 3);
    height: 900px;
    object-fit: cover;
    animation: fade-in 3s;
}

.collage {
    position: absolute;
    width:100%;
    top:0;
}

.clouds {
    width: 100%;
    z-index: -1;
}

.first-three {
    position: absolute;
    width:100%;
    max-width:100%;
    display: inline-block;
    z-index: -2;
}

.main-body {
    width: 100%;
}

.nav-bar {
    display: flex;
    gap:40px;
    justify-content: center;
    justify-self: center;
    margin:30px;
}

.snowstorm {
    font-family: 'snowstorm', sans-serif;
    align-items: right;
}

.top-bar {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width:100%;
    height:82px;
    padding-top: 10px;
    padding-bottom: 20px;
    /* background-image: linear-gradient(rgb(110, 110, 110), rgb(168, 168, 168)); */
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(5px);
    color:white;
    position: fixed;
    top: 0;
}

.top-text {
    font-size: 30px;
}

/* ID values */
#logo {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left:10px;
    margin-top:0px;
    gap:20px;
}

#logo-icon {
    width: 30%;
}

#logo-text {
    font-size: 50px;
    margin: 0;
}

#welcome-text {
    width: 30%;
    background-color: rgba(0,0,0, 0.5);
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 300px;
    color:white;
    font-size: 80px;
    border: 2px solid white;
    border-radius: 10px;
    animation: fade-in 3s;
}

/* Rules */
@font-face {
    font-family: 'snowstorm';
    src: url('fonts/snowstorm.otf') format('opentype');
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}