/*Class Values*/
.App-header {
    background-color: #3A3B3C;
    min-height: 100vh;
}

.header {
    position: relative;
    padding-top: 35px;
    /*Have this route back to the home page*/
    pointer-events: none;
    display: flex;
    justify-content: center;
    size: 100%;
}

.main-flex {
    display: flex;
}

.snowstorm {
    font-family: 'snowstorm', sans-serif;
    align-items: right;
}

.header .tabs span:hover {
    color: white;
    transform: scale(1.2);
}

.header .tabs span {
    font-family: 'snowstorm', sans-serif;
    font-size: 32px;
    padding-left: 10vw;
    transition: transform 0.3s ease;
}

.tabs {
    padding-top: 45px;
    size: 100%;
}

/*ID values*/
#logo-picture {
    size: 10vw;
}

#logo-text {
    display: flex;
    align-items: center;
    font-size: 80px;
    padding-left: 20px;
}

/*Rules*/
@font-face {
    font-family: 'snowstorm';
    src: url('fonts/snowstorm.otf') format('opentype');
}